body{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #ffffff 0%, #ff6600 100%);
}

.card-header, .card-footer{
	height: 10vh;
}
.card-body{
	height: 50vh;
	width: 100%;
}

#input_card, #input_card, #output_card{
	background: linear-gradient(to bottom, #ff6600 0%, white 100%);
	box-shadow: 0 0 15px 0 black;
	top: 1vh;
	backface-visibility: hidden;
}

#input_card_front, #input_card_back{
	position: absolute;
}

#image_to_text_preview{
	width: 250px;
	height: 250px;
	
	background-image: url('/static/images/no_preview.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#submit{
	background-color: #ff6600;
	color: white;
}
#submit:hover{
	background-color: white;
	color: #ff6600;
	box-shadow: 0 0 0 3px #ff6600;
}
